/*loading styles*/
.loading .calcBox-loading {
    display: block;
}
.loading .calcBox-content {
    display: none;
}

.loading .calcBox {
    border: none;
}

.calcBox-loading {
    display: none;
    text-align: center;
}

/*main styles*/
.calcBox-page {
    display: flex;
    justify-content: center;
}


.calcBox {
    padding: 50px;
    border: 1px solid black;
}

.calcBox-inputs__legalEntity,
.calcBox-inputs__taxSystem,
.calcBox-inputs__employeeNumber,
.calcBox-inputs__businessTransactions {
    padding: 10px 0;
}
